<!DOCTYPE html>
<html>
<head>
	<title>Giphy Image Search</title>
</head>
<body>
<h1>Please enter terms to search for on Giphy</h1>
<form action="/gifs" method="GET">
<input type="text", name="search_string", placeholder="search terms here" required><br><br>
<button>Submit Query</button>
</form>
</body>
</html>